**
!Dockerfile
!requirements.txt
!.dockerignore
!.gcloudignore
!cloudbuild.yaml
!backend/
!backend/**
!scripts/
!scripts/start_app.py
!data/
!data/processed/
!data/processed/**
!frontend/
!frontend/dist/
!frontend/dist/**
**/__pycache__/**
